html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: var(--color-bg, #ffffff);
  color: var(--color-fg, rgb(10, 11, 13));
  color-scheme: light;
}

* {
  box-sizing: border-box;
}
